<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %> 
<body class="music">
  <%- include('./partials/header') %> 
    <main>
      <h1>MUSIC//</h1>
      <p>Direct links</p>
      <ul>
        <li><a href="">Album</a></li>
        <li><a href="">Video: Organic Love</a></li>
        <li><a href="">Video: Street Light</a></li>
      </ul>
      <section>
        <article id="album">
          <h3>ALBUM<br> TWIST IN MY REALITY</h3>
          <img src="/images/emilia-play-list.png" alt="playlist">
          <ol>
            <li><a href=""><i class="fas fa-play"></i>Organic Love | 02:40</a></li>
            <li><a href=""><i class="fas fa-play"></i>Twist In My Reality | 02:10</a></li>
            <li><a href=""><i class="fas fa-play"></i>Street Light | 03:28</a></li>
            <li><a href=""><i class="fas fa-play"></i>Love Don’t Live Here Anymore (Cover) | 03:49</a></li>
          </ol>
          <a class="go" href="#">Go Top</a>
        </article>

        <% videos.forEach(video => { %>
          <article id=<%= video.ancla %> >
            <h3>VIDEO <br><%= video.title %> </h3>
            <iframe src=<%= video.link  %>  frameborder="0"
          allow="autoplay; fullscreen" allowfullscreen></iframe>
          <p><%= video.director %> <br><%= video.editor %> <br>Produced by <%= video.productor %></p>
            <a class="go" href="#">Go Top</a>
          </article>
         
        <% }) %>
      </section>
    </main>
</body>
</html>